* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Heebo", sans-serif;
  font-weight: 400;
}

.header {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}
.header__menu-btn {
  background-color: transparent;
  border: none;
  width: 30px;
  height: 18px;
  margin-left: auto;
}
.header__nav {
  display: none;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
  background-color: #eee;
}

.header__menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.header__nav.active {
  display: block;
}
.header__menu-link {
  font-weight: 500;
  font-size: 20px;

  color: #000;
  text-decoration: none;
}

.hero {
  padding-top: 33px;
  padding-bottom: 58px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  gap: 34px;
}

.hero__img-wrapper {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: -4px 9px 0px #edf7fa;
}

.hero__img {
  width: 100%;
  height: 100%;
  object-fit: none;
}
.hero__text {
  text-align: center;
  color: #21243d;
}

.hero__title {
  margin: 0 0 21px 0;
  font-size: 32px;
  line-height: 125%;
}
.hero__description {
  font-weight: 400;
  font-size: 16px;

  margin: 0 0 27px 0;
}
.hero__btn {
  padding: 9px 20px 9px 20px;
  background-color: #ff6464;
  font-weight: 500;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
}

.featered-works {
  padding: 20px;
  padding-bottom: 40px;
  background-color: #fff;
}

.featered-works__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 333%;
  color: #21243d;
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
}
.featered-works__wrapper {
  padding: 0 15px;
}
.work-card__img-wrapper {
  width: 100%;
  height: 230px;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 17px;
}

.work-card {
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 17px;
}
.work-card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.work-card__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 125%;
  color: #21243d;
  margin: 0;
  margin-bottom: 16px;
}
.work-card__details {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-bottom: 24px;
}
.work-card__year {
  font-weight: 900;
  font-size: 16px;
  text-align: center;
  color: #fff;
  background-color: #142850;
  padding: 5px 12px;
  border-radius: 16px;
}
.work-card__category {
  font-weight: 400;
  font-size: 16;
  color: #8695a4;
  text-decoration: none;
}
.work-card__descr {
  font-weight: 400;
  font-size: 16px;
  color: #21243d;
  margin-bottom: 17px;
}
@media screen and (min-width: 768px) {
  .header__menu-btn {
    display: none;
  }
  .header__nav {
    display: flex;
    margin: 0;
    padding: 0;
    background-color: transparent;
    justify-content: end;
  }
  .header__menu {
    flex-direction: row;
    gap: 35px;
  }

  .hero {
    flex-direction: row;
    max-width: 855px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding-top: 140px;
    padding-bottom: ;
  }

  .hero__img-wrapper {
    width: 243px;
    height: 243px;
    order: 2;
  }

  .hero__text {
    width: 497px;
    order: 1;
    text-align: left;
  }

  .hero__title {
    font-size: 44px;
  }
}
